<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Anthony Ackers</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <div class="banner">
            <div class="landingimage">
                <div class="overlay">
                    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(255, 255, 255, 0)">
                            <button class="navbar-toggler" type="button" style="background-color: rgba(30, 25, 25, 100)" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav ml-auto text-right">
                                    <li class="navlist"><a href="/">Home</a></li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="/about-us" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Galleries </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">By the sea</a>
                                            <a class="dropdown-item" href="#">Adventure</a>
                                        </div>    
                                    </li>
                                    <li class="navlist"><a href="/about-us">Galleries</a></li>
                                    <li class="navlist"><a href="/coachingforbusiness">Adventures</a></li>
                                    <li class="navlist"><a href="/career-coaching">Building</a></li>
                                    <li class="navlist"><a href="/thoughts">Eating</a></li>
                                    <li class="navlist"><a href="/kind-words">Get in touch</a></li>
                                </ul>
                        </div>
                    </nav>
                    <div class="tagline">
                        <h2>Anthony Ackers</h2>
                    </div>
                </div>
            </div>
        </div>